.sound-wave {
	z-index: 0;
	position: relative;
}

.sound-wave > button {
	z-index: 1;
	position: absolute;
	bottom: 4px;
	right: 0;
}

#svg-canvas {
	z-index: 0;
	position: relative;
	width: 100%;
}

#hidden-spectrogram-canvas {
	display: none;
}

.section-two {
	/*display: none;*/
}